@import "variables.css";

.base {
  display: inline-block;
  position: relative;
  z-index: 4;
}

.dropdown {
  &__handle {
    height: fit-content;
    color: color_White;
    display: flex;
    align-items: center;
    cursor: pointer;

    & > .dropdown__flag {
      margin-right: 0.5rem;
    }

    &_open {
      .dropdown_chevron {
        transform: rotate(180deg);
      }
    }
  }

  &_chevron {
    transform: rotate(0deg);
  }

  &__content {
    border-radius: 0.8rem;
    background-color: color_White07;
    display: inline-block;
    padding: 1rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: top left;
    transition: transition_300 easeOutCubic;
    transition-property: visibility, opacity, transform;

    &_show {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  &__flag {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 1rem;
  }

  &__content_item {
    height: 3.2rem;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: transition_300 easeOutCubic;

    &:hover {
      background-color: color_White;
    }
  }
}

.chevron {
  margin-left: 0.5rem;

  path{
    transition: transition_300 easeOutCubic;
    transition-property: d;
  }
}
