@import "styles/variables";

.base {
  position: relative;
}

.form {
  position: relative;
}

.item {
  color: color_White;
  border: 1px solid white;
  text-align: center;
}

.suggestionsTooltip {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  color:white;
}
