@import "styles/variables";
@import "styles/mixins";

.base {
  position: relative;
}

.form {
  position: relative;
}

.item {
  color: color_White;
  border: 1px solid white;
  text-align: center;
  width: 200px;
}

.suggestionsTooltip {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  color: color_White;
  min-width: 100%;

  &:after {
    @include metal-border();
    box-shadow: none;
  }
}

.suggestion {
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: red;
  }
}
