@import "styles/variables";

.base {
  position: relative;
}

.form {
  position: relative;
}

.item {
  color: color_White;
  border: 1px solid white;
  height: 2rem;
  width: 60%;
  text-align: center;

  @media BP2_min {
    width: 100%;
    height: auto;
  }
}

.suggestionsTooltip {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  color:white;
}
