@import "variables.css";

.base {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: calc(100vh - header_Height + 0.1rem);
  background-color: color_Black;
  visibility: hidden;
  transform: translateX(100%);
  transition: transition_300 easeOutCubic;
  transition-property: visibility, transform;

  > form {
    display: flex;
    justify-items: center;
    position: relative;
    flex-direction: column;
    align-items: center;

    > input {
      border: 1px solid white;
    }
  }
}

.open {
  visibility: visible;
  transform: translateX(0);
}
