@import "variables.css";

.header {
  height: header_Height;

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: header_Height;
    background-color: color_Black;
    box-shadow: element_inset_border;
  }

  &__items {
    height: header_Height;
    display: flex;
    padding: 0 0.8rem;
    align-items: center;
    justify-content: space-between;
    width: min(100%, content_Width);
    margin: 0 auto;

    @media BP2_min {
      padding: 0 1.6rem;
    }

    @media BP3_min {
      padding: 0;
    }
  }
}

.main {
  background-image: url(https://res.cloudinary.com/dq4lsz5od/image/upload/q_auto/v1681825729/wow-letherMap.webp);
  box-shadow: element_inset_border;
  background-size: cover;
  background-position: center;

  margin-top: 0.4rem;


  @media BP2_min {
    padding: 3.2rem 0;
  }
}
