@import "variables.css";

.base {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  padding-bottom: 1.6rem;

  &:before {
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, color_Black, color_Black01, color_Black);
  }

  & h2 {
    font-family: "Noto Sans", sans-serif;
    color: color_White;
    position: relative;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;

  > img {
    width: 100%;
    height: 100%;
    filter: blur(0.05rem);
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.affixes {
  /*display: none;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;

  > img:first-child,
  > img:last-child {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  > img:first-child {
    left: 0;
    object-position: 0 100%;
  }

  > img:last-child {
    right: 0;
    object-position: 100% 0;
  }
}

.inputs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-gap: 6.4%;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 1px;
    background: white;
  }

  img {
    /*
    width: 28px;
    height: 28px;
     */
  }

  input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    color: color_White;
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000, 1px 1px 4px #000;

    &:focus {
      outline: none;
    }
  }

  &:hover + .image > img {
    transform: scale(1.2);
  }
}

.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  border-radius: 0.5rem;
  position: relative;
  padding-top: 40%;

  > img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transition-property: transform;
    transition: .3s linear;
  }
}

.timestamp {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: color_Black;
  opacity: 0;
  transform: translateY(100%);
  transition: 300ms linear;
  transition-property: opacity, transform, translateY;

  &_show {
    opacity: 1;
    transform: translateY(0%);
  }

  & > input {
    width: 70%;
    margin: auto;
    appearance: auto;
  }
}
