@import "styles/variables";

.base {
  width: min(100%, content_Width);
  margin: 0 auto;
}

.dungeons_wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(250px, 25%), 1fr));
  gap: 1.2rem;
}
