@import "styles/variables";
@import "styles/mixins";

.base {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  padding: 1.6rem;

  @media BP2_min {
    border-radius: 0.5rem;
  }

  & h2 {
    font-size: 1.5rem;
    color: color_White;
    position: relative;
    width: 100%;
    z-index: 2;
    text-align: center;
    margin-bottom: 0.8rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;

  &:after {
    @include metal-border();
    border-image-width: 12px;
  }

  > img {
    filter: blur(0.05rem) brightness(0.4);
    pointer-events: none;
  }
}

.inputs {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-items: center;

  > input {
    width: 75px;
    height: 75px;
    border: 0;
    color: color_White;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    text-shadow: -1px -1px 1px color_Black, 1px -1px 1px color_Black, -1px 1px 1px color_Black, 1px 1px 1px color_Black;

    &:nth-of-type(1) {
      background-size: 100% 100%;
      background-image: url(https://media.discordapp.net/attachments/848667196400992317/1086995636219551805/wowmplusscore3_tyr.png?width=250&height=250);
    }

    &:nth-of-type(2) {
      background-size: 100% 100%;
      background-image: url(https://media.discordapp.net/attachments/848667196400992317/1086995635921748018/wowmplusscore3_fort.png?width=250&height=250);
    }

    &::placeholder {
      color: color_White;
      opacity: 1; /*Firefox*/
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
      outline: none;
    }
  }

  &:hover + .image > img {
    transform: scale(1.2);
  }
}

.sliderPlaceholder {
  height: 0;
  transition: transition_300 easeOutCubic;
  transition-property: height;

  &_open {
    height: 32px;
  }
}
